.DS_Store
venv
/__pycache__
.ipynb_checkpoints
CB_Projects/Covid detection using CNN/chest_xray/train/.DS_Store
CB_Projects/Covid detection using CNN/chest_xray/chest_xray/.DS_Store
CB_Projects/Covid detection using CNN/.DS_Store
.DS_Store
CB_Projects/Image classification using Neural network/dataset
CB_Projects/Image classification using Neural network/__pycache__
CB_Projects/Covid detection using CNN/chest_xray
CB_Projects/Covid detection using CNN/covid-chestxray-dataset
CB_Projects/Covid detection using CNN/CovidDT
CB_Projects/Covid detection using CNN/Dataset
CB_Projects/Image Captioning bot/Data